<h1>Angular NGX-Charts Sandbox</h1>
<div class="charts">
  <div class="chart-wrapper">
    <ngx-charts-gauge
      [view]="pieView"
      [scheme]="colorScheme"
      [results]="single"
      [legend]="true"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-gauge>
  </div>
  <div class="chart-wrapper">
    <ngx-charts-advanced-pie-chart
      [view]="pieView"
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="true"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-advanced-pie-chart>
  </div>

  <div class="chart-wrapper">
    <ngx-charts-line-chart
      [view]="lineView"
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="multi"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-line-chart>
  </div>
  <div class="chart-wrapper">
    <ngx-charts-bar-vertical-2d
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="true"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [legendTitle]="legendTitle"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-bar-vertical-2d>
  </div>
</div>
